<template>
  <div class="footer d-flex justify-content-center align-items-center">
      Copyright © 2022 <a href="#">Devfast</a>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.footer{
  background-color: black;
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: aliceblue;
}
.footer a{
  color: gray;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}

</style>