<template>
  <div class="card">
    <div class="card-body form-post">
      <div class="form-group">
        <ValidationProvider rules="required" v-slot="{ errors }" name="title">
          <label for="input-title">Tiêu đề:</label>
          <input id="input-title" v-model="post.title" class="form-control" />
          <span id="error">{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
      <div class="form-group">
        <label for="input-des">Mô tả ngắn:</label>
        <ValidationProvider
          v-slot="{ errors }"
          rules="required|min:5"
          name="Des"
        >
          <textarea
            id="input-des"
            v-model="post.desc"
            class="form-control"
            rows="5"
          ></textarea>
          <span id="error">{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
      <div class="form-group">
        <label for="input-detail">Chi tiết:</label>
        <ValidationProvider
          v-slot="{ errors }"
          rules="required|min:5"
          name="Detail"
        >
          <textarea
            id="input-detail"
            v-model="post.detail"
            class="form-control"
            rows="8"
          ></textarea>
          <span id="error">{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
      <div class="form-group">
        <label for="input-thumbs">Hình ảnh:</label>
        <input
          id="input-thumbs"
          type="file"
          class="form-control-file d-block"
        />
      </div>

      <div class="form-group">
        <label class="d-block">Vị trí:</label>
        <ValidationProvider
          v-slot="{ errors }"
          rules="required"
          name="Position"
        >
          <div
            v-for="position in LIST_POSITION"
            :key="position.positionId"
            class="form-check form-check-inline"
          >
            <input
              v-model="post.position"
              class="form-check-input"
              type="checkbox"
              :value="post.position"
            />
            <label class="form-check-label">{{ post.positione }}</label>
          </div>
          <span id="error">{{ errors[0] }}</span>
        </ValidationProvider>
      </div> -->

      <div class="form-group">
        <label class="d-block">Public:</label>
        <ValidationProvider v-slot="{ errors }" rules="required" name="Public">
          <div class="form-check form-check-inline">
            <input
              id="inlineRadio1"
              v-model="post.public"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              value="1"
              :selected="post.public"
            />
            <label :selected="post.public" class="form-check-label">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              id="inlineRadio2"
              v-model="post.public"
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              value="0"
              :selected="post.public"
            />
            <label :selected="post.public" class="form-check-label">No</label>
          </div>
          <span id="error">{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <label>Loại: </label>
          <ValidationProvider
            v-slot="{ errors }"
            rules="required"
            name="category"
          >
            <select
              v-model="post.category"
              class="form-select"
              aria-label="Default select example"
            >
              <option
                v-for="category in LIST_CATEGORY"
                :key="category.categoryId"
                :value="category.categoryId"
              >
                {{ category.name }}
              </option>
              <span>{{ errors[0] }}</span>
            </select>
          </ValidationProvider>
          <span v-if="statusAlertValidate" style="color: red">{{
            errors[0]
          }}</span>
        </div>
        <div class="col-md-6">
          <label for="input-date">Date public:</label>
          <ValidationProvider
            v-slot="{ errors }"
            rules="required"
            name="Date Public"
          >
            <input
              id="input-date"
              v-model="post.data_pubblic"
              type="date"
              class="form-control"
            />
            <span id="error">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center p-3">
      <div>
        <button
          type="submit"
          class="btn btn-success"
          @click.prevent="onSubmit()"
        >
          Submit
        </button>
        <button type="button" class="btn btn-primary">Clear</button>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { ValidationProvider } from "vee-validate";
import {VeeValidate} from "vee-validate";
import {
  LIST_CATEGORY,
  LIST_POSITION,
  LIST_URL,
} from "~/assets/css/constants/constants.js";
export default {
  components: {
    ValidationProvider, VeeValidate
  },
  data() {
    return {
      post: {
      },
      LIST_CATEGORY,
      LIST_POSITION,
      id: this.$route.params.id,
    };
  },
  mounted() {
    this.getEditId();
  },

  updated() {
    if (this.postEdit) {
      this.post = this.postEdit;
    }
  },

  methods: {
    getEditId() {
      axios
        .get(`${LIST_URL}/${this.id}`)
        .then((response) => {
          this.post = response.data;
          this.post.position = this.post.position.split(",");
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },

    createEditPost() {
      if (this.id) {
        axios
          .put(`${LIST_URL}/${this.id}`, this.post)
          .then(() => {
            this.$router.push("/blog");
            alert("Update thành công");
          })
          .catch((error) => alert(error));
      } else {
        axios
          .post(`${LIST_URL}`, this.post)
          .then(() => {
            this.$router.push("/blog");
            alert("Thêm thành công");
          })
          .catch((error) => alert(error));
      }
    },

    async onSubmit() {
      this.createEditPost();
    },
  },
};
</script>
