<template>
  <div class="list-post-blog">
    <div class="card mt-3">
      <div class="card-header title">List Blog</div>
      <div class="card-body m-0 p-0">
        <table class="table table-bordered w-100 text-center">
          <thead>
            <tr>
              <th>ID</th>
              <th>Tên</th>
              <th>Loại</th>
              <th>Trạng thái</th>
              <th>Vị trí</th>
              <th>Ngày public</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in posts" :key="item.id">
              <th>{{ item.id }}</th>
              <td>{{ item.title }}</td>
              <td>{{ item.category }}</td>
              <td>{{ item.public ? "Yes" : "No" }}</td>
              <td>{{ item.position }}</td>
              <td>{{ item.data_pubblic }}</td>
              <td>
                <router-link :to="'/blog/edit/' + item.id"
                  ><button type="button" class="btn btn-outline-primary">
                    Edit
                  </button></router-link
                >
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  @click="deleteItem(item.id)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {
  LIST_CATEGORY,
  LIST_URL,
} from "~/assets/css/constants/constants.js";

export default {


  data() {
    return {
      posts: [],
      errors: [],
    };
  },

  mounted() {
    this.getBlog();
  },
  methods: {
    // lấy dữ liệu khi component được tạo thành công
    getBlog() {
      axios
        .get(`${LIST_URL}`)
        .then((response) => {
          this.posts = response.data;
        })
        .catch((e) => {
          this.errors.push(e);
        });
    },
    convertCategory(categoryId) {
      const category = LIST_CATEGORY.find(
        (cate) => cate.categoryId == categoryId
      );
      return category.name;
    },



    deleteItem(itemId) {
      console.log(itemId);
      axios.delete(`${LIST_URL}/${itemId}`).then((response) => {
        this.getBlog();
      });
    },
  },
};
</script>

<style>
.btn-search {
  width: 80px;
  height: 35px;
  margin: auto;
}

.title {
  font-weight: bold;
  font-size: 20px;
}
</style>
