<template>
 <div>
    <AppHeader />
    <div class="row m-0 p-0">
        <div class="col-md-2 m-0 p-0 menu">
            <AppMenu />
        </div>
        <div class="col-md-10 body">
            <div class="main">
                <Nuxt />
            </div>
        </div>
    </div>
    <AppFooter />
 </div>
</template>
<style>
    .row{
        background-color: lightgrey;
    }
    .menu{
        background-color: #fff;
    }
</style>



