<template>
  <div>
    <BlogSearchForm />
    
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.form-group{
    display: flex;
}
  .title {
      font-weight: bold;
      font-size: 20px;
  }
</style>
